.root {
  position: relative;
  margin-top: rem(5px);
}

.input {
  border: none;
  border-radius: 0;
  white-space: nowrap;
  height: rem(40px);

  &:hover {
    background-color: var(--mantine-color-blue-0);
  }
  &:focus,
  &:focus-within {
    border: rem(1px) solid var(--input-bd);
  }
  /* background-color: var(--mantine-color-body); */
}

.wrapper {
  --input-height-xs: rem(26px);
  --input-height-sm: rem(32px);
  --input-height-md: rem(38px);
  --input-height-lg: rem(44px);
  --input-height-xl: rem(50px);
}
