.root {
  --button-height-xs: rem(28px);
  --button-height-sm: rem(34px);
  --button-height-md: rem(40px);
  --button-height-lg: rem(48px);
  --button-height-xl: rem(58px);

  --button-padding-x-xs: rem(8px);
  --button-padding-x-sm: rem(12px);
  --button-padding-x-md: rem(16px);
  --button-padding-x-lg: rem(20px);
  --button-padding-x-xl: rem(24px);
}
